<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="custom-prefix-StringProperty" value="custom-test-value" />
    <add key="custom-prefix-BoolProperty" value="true" />
    <add key="custom-prefix-DecimalProperty" value="6728.216" />
    <add key="StringProperty" value="test-value" />
    <add key="BoolProperty" value="true" />
    <add key="GuidProperty" value="691BBBD5-DAC8-4991-8D58-A271D2388954" />
    <add key="DecimalProperty" value="16.6271" />
    <add key="DecimalPropertyWithCustomCulture" value="9,19288" />
    <add key="DecimalWithCustomDeserializer" value="1892,892" />
    <add key="TimeSpanProperty" value="19:18:09.19288" />
    <add key="SomeComplexProperty" value="{'Name':'short-complex-name','Id':'296DE560-59E7-4EA1-A838-4700B1DACE50',Price:'128.290','ComplexProperty':{'Expiration':'17.17:36:05','Amount':27.56,'Value':{'Expiration':'11:37:20.298','Amount':21.23678}}}" />
    <add key="AnotherComplexProperty" value="{'Name':'another-complex-name','Id':'A7997FA0-BBA9-413D-BF74-8ED8B1942771',Price:'7.23','ComplexProperty':{'Expiration':'18.21:17:06','Amount':107.51,'Value':{'Expiration':'11:07:23.3261','Amount':819.267}}}" />
    <add key="StringList" value="item2;item1;item289"/>
    <add key="GuidList" value="30E392D3-76E9-4D18-BDB1-A786DBB55EAC;EC27E68D-B11E-4AEC-AB82-BC29B3F2DEA1;7B97D63F-8251-41BD-A734-91B89305D6B4;2773C59A-5502-43C0-B573-E8D7D4E1E3DE"/>
    
    <add key="FX.Configuration.Tests.TestAppConfigurationLongPropertyName.StringProperty" value="test-value-long" />
    <add key="FX.Configuration.Tests.TestAppConfigurationLongPropertyName.BoolProperty" value="true" />
    <add key="FX.Configuration.Tests.TestAppConfigurationLongPropertyName.GuidProperty" value="63A0848A-586B-4108-867B-2980B0443401" />
    <add key="FX.Configuration.Tests.TestAppConfigurationLongPropertyName.DecimalProperty" value="12.32" />
    <add key="FX.Configuration.Tests.TestAppConfigurationLongPropertyName.TimeSpanProperty" value="11:17:07.2787" />
    <add key="FX.Configuration.Tests.TestAppConfigurationLongPropertyName.SomeComplexProperty" value="{'Name':'long-complex-name','Id':'296DE560-59E7-4EA1-A838-4700B1DACE50',Price:'128.290','ComplexProperty':{'Expiration':'17.17:36:05','Amount':27.56,'Value':{'Expiration':'11:37:20.298','Amount':21.23678}}}" />
    <add key="FX.Configuration.Tests.TestAppConfigurationLongPropertyName.StringList" value="item2-1;item2-278;item-267;list2789"/>
    <add key="FX.Configuration.Tests.TestAppConfigurationLongPropertyName.GuidList" value="30E392D3-76E9-4D18-BDB1-A786DBB55EAC;EC27E68D-B11E-4AEC-AB82-BC29B3F2DEA1;7B97D63F-8251-41BD-A734-91B89305D6B4;2773C59A-5502-43C0-B573-E8D7D4E1E3DE"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.1705" newVersion="1.9.2.1705" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>